
.box-container{
    /* max-width: 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 30px;
    
    

  }

.box-container>img{
    margin-right: 10px;
}


.logbtn{
    background-color: #000042 ;
}