.formlog{
    
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.inputlog{
    height: 40%;
    width: 90%;
    padding: 3px;
}

.logbtn{
    background-color: red;
    border: red;
    width: 50%;
    padding:2px;
}