.navbar{
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logoMA{
    width: 50%;
    margin:0;
    
    
}

.auth-btn{
    /* background-color: teal; */
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: flex-end;
}
.auth-btn>button{
    background-color: red;
    border: red;
    width: 80px;
    padding:0px;
    margin:5px;
    
}
.auth-btn>button>a{
    color:white;
    font-size: 90%;
    padding: 0px;
}
.container-loggedIn{
    display: flex;
    justify-content: flex-end;
    width: 30%;
    align-items: center;
}
.cont>p{
    color:white;
    
}
.cont>button{
    background-color: red;
    border: red;
    height: 30px;
    padding: 0;
    margin-left: 10px;
    
   
}
.container-loggedIn>button>a{
    color:white;
    font-size: 90%;
   
    text-decoration: none;
}
.cont>a{
    margin-right: 10px;
}
.cont{
    width: 120%;
    display: flex;
    /* justify-content: space-around; */

}