.App {
  text-align: center;
  position: relative;

}

.box-container{
  background-color: black;
  width: 30%;
  position: absolute;
  right: 0px;
  padding: 10px;
  color:white;
  display: flex;
  justify-content: flex-end;
  border-radius: 10px 0px ;
}